{{> navbar2}}
<section class="container-fluid">
  <div class="row py-2">
    <h3><a style="text-decoration: none; color: #e80d4a" href="/user/{{user._id}}">{{user.firstName}}</a> - Your Filtered D8s</h3>
        {{#if_eq searchResults.length 0}}
          <p>Unforturnately you have no results matching your filters</p>
        {{/if_eq}}
          <div id="dashboardCarousel" class="carousel slide" data-interval="false">
            <div class="carousel-inner">
              {{#each searchResults}}
                <div class="carousel-item {{#if_eq @index 0}} active {{/if_eq}}">
                  <div class="card mx-auto" style="width: 35rem;">
                    <div class="card-img-top card-img-top-dasboard">
                      {{#each this.profileImages}}
                      <img class="card-img-top img-fluid d-block" src="{{this.url}}" alt="Card image cap" class="class img-fluid";>
                      {{/each}}
                    </div>
                    <div class="card-body-bio">
                      <h5><a style="text-decoration: none; color: #e80d4a" href="/profiles/{{this._id}}">{{this.username}}</a></h5>
                      {{!-- <p class="card-text">Age: {{this.age}}</p>
                      <p class="card-text">Gender: {{this.gender}}</p>
                      <p class="card-text">Interested in: {{this.interested_in}}</p>
                      <p class="card-text">Location: {{this.location}}</p> --}}
                      <p class="card-text">{{this.bio}}</p>
                      <div class="row py-1 mx-auto">
                        <form action='/user/liked/{{this.id}}' method='post'>
                          <button style="background-color:white; border: white; text-align: center" type="submit"><i class= "fas fa-heart fa-2x" style="color: #e80d4a"></i></button>
                        </form>
                      </div>
                    </div>
                  </div>  
                </div> 
              {{/each}}
            </div>
            <a class="carousel-control-prev" style="color: #e80d4a" href="#dashboardCarousel" role="button" data-slide="prev">
              <i class="fa fa-angle-left"></i><i class="fa fa-angle-left"></i>
              <span class="carousel-control-prev-icon" aria-hidden="false"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" style="color: #e80d4a" href="#dashboardCarousel" role="button" data-slide="next">
              <i class="fa fa-angle-right"></i><i class="fa fa-angle-right"></i>
              <span class="carousel-control-next-icon" aria-hidden="false"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
        <div class="row py-5">
          <div class="col-12 mx-auto">
            <button type="button" class="btn btn-primary card-btn btn-a"><a style="text-decoration: none; color: white" href="/home">Back to unfiltered results</a></button>
          </div>
        </div>
  </div>
  </div>
        <div class="row py-4" >
    </div>
</section>