<section id="users-profile-page">
  {{> navbar2}}
  <section class="container-fluid">
    <div class="row py-4">
      <div class="col-md-6 d-flex justify-content-center py-3">
        <div id="photoCarousel" class="carousel slide" data-interval="false">
          <div class="carousel-inner">

            <div class="carousel-item active">
              <div class="card mx-auto" style="width: 35rem;">
                <div class="card-img-top card-img-top-dasboard">
                  {{#each profile.profileImages}}
                    <img class="card-img-top img-fluid d-block" src="{{this.url}}" alt="Card image cap" class="class img-fluid";>
                  {{/each}}
                </div>
              </div>  
            </div> 

            <div class="carousel-item">
              <div class="card mx-auto" style="width: 35rem;">
                <div class="card-img-top card-img-top-dasboard">
                  {{#each profile.images}}
                    <img class="card-img-top img-fluid d-block" src="{{this.url}}" alt="Card image cap" class="class img-fluid";>
                  {{/each}}
                </div>
              </div>  
            </div> 


          </div>
          <a class="carousel-control-prev" href="#photoCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#photoCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        
      </div>
      <div class="col-md-6 d-flex justify-content-center py-3">
        <div class="card" style="width: 34rem;">
          <div class="card-body">
            <h5 class="card-title">{{profile.username}}</h5>
            <p class="card-text">{{profile.age}} years old</p>
            <p class="card-text">Living in{{profile.location}}</p> 
            <p class="card-text">{{profile.gender}}</p> 
            <p class="card-text">Interested in {{profile.interested_in}}</p>
            <p class="card-text">{{profile.bio}}</p> 
            <p class="card-text">Contact them on: {{email}}</p>
            <form action='/user/liked/{{profile._id}}' method='post'>
              <button style="background-color:white; border: white; text-align: center" type="submit"><i class= "fas fa-heart fa-2x" style="color: #e80d4a"></i></button>
            </form>
            <div class="card-body">
              <button type="button" class="btn btn-primary card-btn btn-a"><a style="text-decoration: none;" href="/home">Back to Dashboard</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
       <div class="col-10 mx-auto">
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="questionOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Q1. What is your go-to Karaoke song?
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse show" aria-labelledby="questionOne" data-parent="#accordion">
            <div class="card-body">
              {{questionsAnswers.q1}}
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="questionTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Q2. If you could live anywhere in the world, where would it be and why? 
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="questionTwo" data-parent="#accordion">
            <div class="card-body">
              {{questionsAnswers.q2}}            
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="questionThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Q3. Have you ever had a nickname? What is it?
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="questionThree" data-parent="#accordion">
            <div class="card-body">
              {{questionsAnswers.q3}}
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="questionFour">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Q4. What's the craziest thing you’ve done in the name of love? (Doesn't necessarily have to be love for a particular person)
              </button>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="questionFour" data-parent="#accordion">
            <div class="card-body">
              {{questionsAnswers.q4}}
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="questionFive">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Q5. What would you do if you won the lottery?
              </button>
            </h5>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="questionFive" data-parent="#accordion">
            <div class="card-body">
              {{questionsAnswers.q5}}
            </div>
          </div>
        </div>
      </div>
    </div>  

    </div>
        <div class="row py-4" >
    </div>
    </div>
        <div class="row py-4" >
    </div>

  </section>
</section>

