<h1>More details about ... </h1>

<p>Username: {{profile.username}}</p>
<p>Age: {{profile.age}}</p>
<p>Gender: {{profile.gender}}</p>
<p>Location: {{profile.gender}}</p>
<p>Interested in: {{profile.interested_in}}</p>
<p>Bio: {{profile.bio}}</p>


{{!-- Would need to add information from the other db inc email --}}

<a href="/home">Back to Dashboard</a>