{{title}}
<br>
{{#each userProfile}}
  {{#each this.profileImages}}
    <img src="{{this.url}}" alt="image" class="class img-fluid" width="200" height="200" ;>
  {{/each}}
  {{this.username}}
  {{this.bio}}
  {{this.age}}
{{/each}}
<a href="/user/{{user._id}}/edit">Edit Your Profile</a>


