<section id="users-profile-page">
  {{> navbar2}}
  <section class="container-fluid">
    <div class="row py-4">

       <div class="col-md-6 d-flex justify-content-center py-3">
          <div class="card" style="width: 34rem;">
            {{#each userProfile.profileImages}}
              <img src="{{this.url}}" class="card-img-top-profile" alt="">
            {{/each}}
            <div class="card-body">
              <button type="button" class="btn btn-primary card-btn btn-a"><a style="text-decoration: none;" href="/home">Back to Dashboard</a></button>
            </div>
          </div>
        </div>

        <div class="col-md-6 d-flex justify-content-center py-3">
          <div class="card" style="width: 34rem;">
            <div class="card-body">
              <h5 class="card-title card-title-title">Your Profile</h5>
              <h5 class="card-title">{{userProfile.username}}</h5>
              <p class="card-text">{{userProfile.age}} years old</p>
              <p class="card-text">{{userProfile.gender}}</p>
              <p class="card-text">Living in {{userProfile.location}}</p>
              <p class="card-text">Interested in {{userProfile.interested_in}}</p>
              <p class="card-text">{{userProfile.bio}}</p> 
              <button type="button" class="btn btn-primary card-btn btn-a"><a style="text-decoration: none;" href="/user/match/{{userProfile._id}}">Matches</a></button>              
              <button type="button" class="btn btn-primary card-btn btn-a"><a style="text-decoration: none;" href="/user/{{user._id}}/edit">Edit Your Profile</a></button>
              <button type="button" class="btn btn-primary card-btn btn-a"><a style="text-decoration: none;" href="/user/{{user._id}}/delete">Delete Your Profile</a></button>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-8 mx-auto py-3">
        <h2>Your Photos</h2>
        <p>These can be viewed by other users</p>
        {{#if_eq userProfile.images.length 0}}
          <p>You have not uploaded any additional images for others to view</p>
        {{/if_eq}}
        <div>
          <form id="delete-images-form" action="/user/{{user._id}}/deletePhotos" method="post">
          <div class="row py-2">
            {{#each userProfile.images}}
              <div class="col-sm-2">
                <img src="{{this.url}}" alt="..." class="img-thumbnail">
                <div class="form-check-inline">
                  <input type="checkbox" name="deletedImages" id="image-{{@index}}" value="{{this.filename}}">
                  <label for="image-{{@index}}">Delete</label>
                </div>
              </div>
            {{/each}}
          </div>
          <button class="w-100 btn btn-primary card-btn btn-a" type="submit">Delete photos</button>
          </form>     
        </div>
        <div>
          <form id="add-images-form" action="/user/{{user._id}}/addPhoto" method="post" enctype="multipart/form-data">
            <label for="image">Upload pictures</label>
            <input style="margin-top: 10px" type='file' name="image" id="image" multiple>
            <button class="w-100 btn btn-primary card-btn btn-a" type="submit">Add photos</button>
          </form>       
        </div>  
      </div>
    </div>
    <div class="row">
      <div class="col-8 mx-auto py-4">
        <div class="row">
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="questionOne">
                <h5 class="mb-0">
                  <button class="btn btn-link btn-light" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Q1. What is your go-to Karaoke song?
                  </button>
                </h5>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="questionOne" data-parent="#accordion">
                <div class="card-body">
                  {{questionsAnswers.q1}}
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="questionTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Q2. If you could live anywhere in the world, where would it be and why? 
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="questionTwo" data-parent="#accordion">
                <div class="card-body">
                  {{questionsAnswers.q2}}            
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="questionThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Q3. Have you ever had a nickname? What is it?
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="questionThree" data-parent="#accordion">
                <div class="card-body">
                  {{questionsAnswers.q3}}
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="questionFour">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Q4. What's the craziest thing you’ve done in the name of love? (Doesn't necessarily have to be love for a particular person)
                  </button>
                </h5>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="questionFour" data-parent="#accordion">
                <div class="card-body">
                  {{questionsAnswers.q4}}
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="questionFive">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Q5. What would you do if you won the lottery?
                  </button>
                </h5>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="questionFive" data-parent="#accordion">
                <div class="card-body">
                  {{questionsAnswers.q5}}
                </div>
              </div>
            </div>
          </div>
        </div>  

      </div>
    </div>
    <div class="row py-4" >
    </div>
  </section>
</section>


