{{!-- This will have a list of all the profiles --}}
<h1>Your Potential D8s</h1>

<p>
<form id="log-out-form" action="/logout" method="post">
  <button value="Log Out"> Log Out </button>
</form>
</p>

<a href="/user/{{user._id}}">{{user.firstName}}</a>

{{#each userProfiles}}
<div style="border: 1px solid black">
  <p><a href="/profiles/{{this._id}}">Username: {{this.username}}</a></p>
  <p>Age: {{this.age}}</p>
  <p>Gender: {{this.gender}}</p>
  <p>Location: {{this.location}}</p>
  <p>Interested in: {{this.interested_in}}</p>
  <p>Bio: {{this.bio}}</p>
</div>
{{/each}}