<section id="dashboard-page">
  {{> navbar2}}
  <section class="container-fluid">
    <div class="row py-2">
      <h1><a style="text-decoration: none;" href="/user/{{user._id}}">{{user.firstName}}</a> - Your Potential D8s</h1>
    </div>
{{!-- Space for the filtering form --}}
    <div>
      <form class="filterResults" action="/profiles/filtered" method="post">
        <p>Age</p>
        <label for="minage">Min Age:</label>
        <input id="minage" type="number" name="minage" min="18" max="100">
        <label for="maxage">Min Age:</label>
        <input id="maxage" type="number" name="maxage" min="18" max="100">
        <p>Location: </p>
        <label for="location1">North London</label>
        <input type="checkbox" id="location1" name="location1" value="North London">
        <label for="location1">West London</label>
        <input type="checkbox" id="location2" name="location2" value="West London">
        <label for="location1">South London</label>
        <input type="checkbox" id="location3" name="location3" value="South London">
        <label for="location1">East London</label>
        <input type="checkbox" id="location4" name="location4" value="East London">
        <input type="submit" value="Filter Results">
      </form>
    </div>

    <div class="row py-2">
      {{#each userProfiles}}
        <div class="col-lg-4 col-md-6 col-12 py-2">
          <div class="card mx-auto" style="width: 20rem;">
            <div class="card-img-top">
              {{#each this.profileImages}}
              <img class="card-img-top img-fluid" src="{{this.url}}" alt="Card image cap" class="class img-fluid";>
              {{/each}}
            </div>
            <div class="card-body-bio">
              <h5><a style="text-decoration: none;" href="/profiles/{{this._id}}">{{this.username}}</a></h5>
              {{!-- <p class="card-text">Age: {{this.age}}</p>
              <p class="card-text">Gender: {{this.gender}}</p>
              <p class="card-text">Interested in: {{this.interested_in}}</p>
              <p class="card-text">Location: {{this.location}}</p> --}}
              <p class="card-text">{{this.bio}}</p>
            </div>
            <button type="button" class="btn btn-primary card-btn">Like</button>
          </div>   
        </div>
      {{/each}}
    </div>
    <div class="row py-6" style="height: 5rem;">
    </div>
  </section>
</section>
